<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="myBatisDao" class="di.ex4.MyBatisDao"/>
    <bean id="myBatisService" class="di.ex4.MyBatisService">
        <property name="myBatisDao" ref="myBatisDao"/>
    </bean>
</beans>